!!!
%html{:lang => "en", :ng => {app:"team3-ng-features"}}
  %head
    %title Team3
    %link{"data-require" => "bootstrap-css", "data-semver" => "3.1.1", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/styles.scss", :rel => "stylesheet"}
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body{"ng-javascript" => "team3-ng-features"}
    %div.navHead.block.bg-black.lg-padding.no-margin.heavy.cl-green
      -#= login_links
      %p.absolute-top-left
        / Anchor trigger modal
        %a.cl-green.cl-dk-green-hover.light.sm-padding-right.tall{"data-target" => "#logInModal", "data-toggle" => "modal", :href => ""} Log In
        / Modal
        #logInModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} &times;
                  %span.sr-only Close
                %h4#myModalLabel.modal-title Sign up
              .modal-body
                %form{:action => ""}
                  %input{:placeholder => "User Name", :type => "text"}/
                  %input{:placeholder => "Password", :type => "text"}/
                  %a.cl-green-hover.cl-dk-green{"data-target" => "#myModal", "data-toggle" => "modal", :href => ""} Forgot My Password
                  %button.button Submit
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                %button.btn.btn-primary{:type => "button"} Save changes
        %a.cl-green.cl-dk-green-hover.light.sm-padding-right.sm-padding-left.tall{:href => ""} Log Out
        %a.cl-green.cl-dk-green-hover.light.sm-padding-right.sm-padding-left.tall{"data-target" => "#signUpModal", "data-toggle" => "modal", :href => ""} Sign up
        / Modal
        #signUpModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} &times;
                  %span.sr-only Close
                %h4#myModalLabel.modal-title Sign up
              .modal-body

 
                %h2 Log in
                = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                  %div
                    = f.label :email
                    %br/
                    = f.email_field :email, autofocus: true
                  %div
                    = f.label :password
                    %br/
                    = f.password_field :password, autocomplete: "off"
                  - if devise_mapping.rememberable?
                    %div
                      = f.check_box :remember_me
                      = f.label :remember_me
                  %hr
                  = f.submit "Log in", class: "button"
                = render "devise/shared/links"
              -#.modal-footer
                -#%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                -#%button.btn.btn-primary{:type => "button"} Save changes

      %h1.cl-green.text-right.med-padding-right.lg-margin-top.sm-margin-bottom.no-margin @home
    = yield
