!!!
%html{:lang => "en", :ng => {app:"team3-ng-features"}}
  %body
  #fullPage
    %p
      }
    %title GroupProject
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = login_links
    = yield
    %p.notice
      = notice
    %p.alert
      = alert
